name: Deploy to Aliyun OSS

on:
  push:
    branches:
      - main   # 推送到 main 分支时自动部署

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Upload files to OSS
        uses: fangbinwei/aliyun-oss-website-action@v1
        with:
          accessKeyId: ${{ secrets.ACCESS_KEY_ID }}
          accessKeySecret: ${{ secrets.ACCESS_KEY_SECRET }}
          bucket: dino-game-web              
          endpoint: oss-cn-shenzhen.aliyuncs.com 
          folder: .                             
